openapi: 3.0.0
info:
  title: DocFlow API
  description: >-
    DocFlow REST API, providing file upload and file processing result retrieval
    capabilities
  version: 2.0.0
servers:
  - url: 'https://docflow.textin.com'
x-codeSamples: custom
paths:
  /api/app-api/sip/platform/v2/file/upload:
    post:
      summary: Upload File
      description: ''
      operationId: uploadFile
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/BatchNumber'
        - $ref: '#/components/parameters/AutoVerifyVat'
        - $ref: '#/components/parameters/SplitFlag'
        - $ref: '#/components/parameters/CropFlag'
        - $ref: '#/components/parameters/TargetProcess'
        - $ref: '#/components/parameters/ParserRemoveWatermark'
        - $ref: '#/components/parameters/ParserCropDewarp'
        - $ref: '#/components/parameters/ParserApplyMerge'
        - $ref: '#/components/parameters/ParserFormulaLevel'
        - $ref: '#/components/parameters/ParserTableTextSplitMode'
      requestBody:
        $ref: '#/components/requestBodies/FileUploadRequestBody'
      responses:
        '200':
          description: File upload successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          batch_number:
                            type: string
                            description: Batch Number
                            example: 202412190001
                          files:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: File ID
                                  example: 202412190001
                                task_id:
                                  type: string
                                  description: Task ID
                                  example: 1981692246135111700
                                name:
                                  type: string
                                  description: File Name
                                  example: invoice.pdf
                                format:
                                  type: string
                                  description: File Format
                                  example: pdf
                              required:
                                - id
                                - name
                                - format
                        required:
                          - batch_number
                          - files
  /api/app-api/sip/platform/v2/file/upload/sync:
    post:
      summary: Upload File Synchronously
      description: >-
        Upload file and wait for processing to complete, returning processing
        results directly
      operationId: uploadFileSync
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/BatchNumber'
        - $ref: '#/components/parameters/AutoVerifyVat'
        - $ref: '#/components/parameters/SplitFlag'
        - $ref: '#/components/parameters/CropFlag'
        - $ref: '#/components/parameters/TargetProcess'
        - $ref: '#/components/parameters/ParserRemoveWatermark'
        - $ref: '#/components/parameters/ParserCropDewarp'
        - $ref: '#/components/parameters/ParserApplyMerge'
        - $ref: '#/components/parameters/ParserFormulaLevel'
        - $ref: '#/components/parameters/ParserTableTextSplitMode'
        - $ref: '#/components/parameters/WithTaskDetailUrl'
      requestBody:
        $ref: '#/components/requestBodies/FileUploadRequestBody'
      responses:
        '200':
          description: File uploaded and processed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - $ref: '#/components/schemas/TaskProcessResult'
  /api/app-api/sip/platform/v2/file/fetch:
    get:
      summary: Get File Processing Result List
      description: ''
      operationId: getFiles
      parameters:
        - name: page
          in: query
          description: 'Page number, default 1'
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: 'Number of items per page, default 1000'
          required: false
          schema:
            type: integer
            default: 1000
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
        - name: batch_number
          in: query
          description: Batch Number
          required: false
          schema:
            type: string
        - name: file_id
          in: query
          description: File ID
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: File Category
          required: false
          schema:
            type: string
        - name: recognition_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RecognitionStatus'
        - name: verification_status
          in: query
          description: >-
            File verification status 0: Pending verification 2: Confirmed 3:
            Rejected 4: Deleted 5: Deferred processing
          required: false
          schema:
            $ref: '#/components/schemas/VerificationStatus'
        - name: start_time
          in: query
          description: >-
            Start time for search by update time, RFC3339 format
            (YYYY-MM-DDTHH:MM:SSZ)
          required: false
          schema:
            type: string
            format: date-time
            example: 2024-01-01T00:00:00.000Z
        - name: end_time
          in: query
          description: >-
            End time for search by update time, RFC3339 format
            (YYYY-MM-DDTHH:MM:SSZ)
          required: false
          schema:
            type: string
            format: date-time
            example: 2024-01-01T10:00:00.000Z
        - name: with_document
          in: query
          description: >-
            Whether to return the complete text recognition result of the
            document
          required: false
          schema:
            type: boolean
            default: false
        - name: with_task_detail_url
          in: query
          description: Whether to return the task details page URL
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully retrieved file list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - $ref: '#/components/schemas/TaskProcessResult'
  /api/app-api/sip/platform/v2/file/update:
    post:
      summary: Update File Processing Result
      description: >-
        Update file processing result. Usually used after manual review and
        proofreading to upload modified key-value pairs, overriding
        automatically recognized results.
      operationId: updateFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  workspace_id:
                    type: string
                    description: Workspace ID
                    example: 1234567890
                  file_id:
                    type: string
                    description: File ID
                    example: 202412190001
                  data:
                    description: >
                      Full field update.

                      Note: Even if only updating partial fields, all fields
                      must be included.

                      If the incoming fields are more than the original fields,
                      the additional fields will be added.

                      If the incoming fields are fewer than the original fields,
                      the missing fields will be deleted.

                      If the incoming field values differ from the original
                      field values, the field values will be updated.

                      If the incoming fields are identical to the original
                      fields, the fields will be preserved.
                    type: object
                    properties:
                      fields:
                        type: array
                        items:
                          $ref: '#/components/schemas/KeyValue'
                        example:
                          - key: Invoice Code
                            value: '3100231130'
                            position:
                              - page: 0
                                vertices:
                                  - 0
                                  - 0
                                  - 100
                                  - 0
                                  - 100
                                  - 100
                                  - 0
                                  - 100
                          - key: Invoice Number
                            value: '28737000'
                            position:
                              - page: 0
                                vertices:
                                  - 0
                                  - 0
                                  - 100
                                  - 0
                                  - 100
                                  - 100
                                  - 0
                                  - 100
                      items:
                        type: array
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/KeyValue'
                        example:
                          - - key: Goods and Services Name
                              value: ＊Electronic Computer＊Microcomputer Host
                              position:
                                - page: 0
                                  vertices:
                                    - 0
                                    - 0
                                    - 100
                                    - 0
                                    - 100
                                    - 100
                                    - 0
                                    - 100
                            - key: Specification Model
                              value: DMS-SC68
                              position:
                                - page: 0
                                  vertices:
                                    - 0
                                    - 0
                                    - 100
                                    - 0
                                    - 100
                                    - 100
                                    - 0
                                    - 100
                          - - key: Goods and Services Name
                              value: ＊Mechanical Computer＊Supercomputer Host
                              position:
                                - page: 0
                                  vertices:
                                    - 0
                                    - 0
                                    - 100
                                    - 0
                                    - 100
                                    - 100
                                    - 0
                                    - 100
                            - key: Specification Model
                              value: AN/FSQ-7
                              position:
                                - page: 0
                                  vertices:
                                    - 0
                                    - 0
                                    - 100
                                    - 0
                                    - 100
                                    - 100
                                    - 0
                                    - 100
                required:
                  - workspace_id
                  - file_id
                  - data
      responses:
        '200':
          description: Successfully updated file processing result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          files:
                            description: Updated file list
                            type: array
                            items:
                              type: object
                              properties:
                                workspace_id:
                                  type: string
                                  description: Workspace ID
                                  example: 1234567890
                                id:
                                  type: string
                                  description: File ID
                                  example: 202412190001
  /api/app-api/sip/platform/v2/file/delete:
    post:
      summary: Delete Tasks
      description: >-
        Delete files by conditions. Files matching any condition will be
        deleted.
      operationId: deleteFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: 1234567890
                batch_number:
                  type: array
                  items:
                    type: string
                  description: Batch number list
                  example:
                    - '202412190001'
                    - '202412190002'
                task_id:
                  type: array
                  items:
                    type: string
                  description: Task ID list
                  example:
                    - '1978297791713619968'
                    - '1978297791713619969'
                file_id:
                  type: array
                  items:
                    type: string
                  description: File ID list
                  example:
                    - '1978297792124661760'
                    - '1978297792124661761'
                start_time:
                  type: integer
                  description: 'Start time (epoch timestamp, unit: seconds)'
                  example: 1760523600
                end_time:
                  type: integer
                  description: 'End time (epoch timestamp, unit: seconds)'
                  example: 1760523600
              required:
                - workspace_id
      responses:
        '200':
          description: Successfully deleted tasks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          deleted_count:
                            type: integer
                            description: Number of deleted files
                            example: 1
  /api/app-api/sip/platform/v2/file/extract_fields:
    post:
      summary: Extract Specific Fields
      description: >
        For tasks that have completed extraction, extract additional fields for
        the task, or re-extract individual existing fields.

        Returns the complete extraction result of all fields. The return
        structure is the same as `/api/app-api/sip/platform/v2/file/fetch`.
      operationId: extractFields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: 1234567890
                task_id:
                  type: string
                  description: Task ID
                  example: 1234567890
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExtractFieldReqVO'
                tables:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Table name
                        example: Table1
                      extract_model:
                        type: string
                        description: >
                          Table-level extraction model, defaults to Model 1 if
                          not specified. All fields within the table use this
                          model

                          - Model 1: Fast speed with stable extraction results

                          - Model 2: Suitable for complex document understanding

                          - Model 3: VLM, suitable for simple extraction
                        example: Model 1
                        enum:
                          - Model 1
                          - Model 2
                          - Model 3
                      fields:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExtractFieldReqVO'
              required:
                - workspace_id
                - task_id
      responses:
        '200':
          description: Successfully extracted fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - $ref: '#/components/schemas/TaskProcessResult'
  /api/app-api/sip/platform/v2/file/retry:
    post:
      summary: Retry File Processing
      description: Retry processing a file.
      operationId: retryFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: 1234567890
                task_id:
                  type: string
                  description: Task ID
                  example: 1234567890
                parser_params:
                  $ref: '#/components/schemas/DocumentParserParam'
              required:
                - workspace_id
                - task_id
      responses:
        '200':
          description: Successfully retried file processing
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/file/amend_category:
    post:
      summary: Amend File Category
      description: >
        - For regular tasks, modify the file category of the regular task

        - For document splitting tasks, modify the file type and page numbers of
        the split files

        - For multi-image cropping tasks, modify the file type of the cropped
        files
      operationId: amendCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: 1234567890
                task_id:
                  type: string
                  description: Task ID
                  example: 1234567890
                category:
                  type: string
                  description: |
                    New file category.
                    Only supported when the task type is a regular task.
                  example: Electronic Invoice (Ordinary Invoice)
                split_tasks:
                  description: Document splitting task list
                  type: array
                  items:
                    type: object
                    properties:
                      category:
                        type: string
                        description: Subtask file category
                        example: Electronic Invoice (Ordinary Invoice)
                      pages:
                        type: array
                        items:
                          type: integer
                          description: 'Subfile page numbers, starting from 0'
                        example:
                          - 0
                          - 1
                crop_tasks:
                  description: Multi-image cropping task list
                  type: array
                  items:
                    type: object
                    properties:
                      crop_child_task_id:
                        type: string
                        description: Multi-image cropping subtask ID
                        example: 1234567890
                      category:
                        type: string
                        description: Subtask file category
                        example: Electronic Invoice (Ordinary Invoice)
              required:
                - workspace_id
                - task_id
      responses:
        '200':
          description: Successfully updated file category
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/auth/token:
    get:
      summary: Generate a short-lived token
      description: Generate a short-lived token (for iframe scenarios)
      operationId: authToken
      responses:
        '200':
          description: Token information successfully retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - $ref: '#/components/schemas/TokenResult'
  /api/app-api/sip/platform/v2/workspace/create:
    post:
      summary: Create Workspace
      description: Create a new workspace
      operationId: createWorkspace
      tags:
        - Workspace Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Workspace name
                  example: My Workspace
                  maxLength: 50
                description:
                  type: string
                  description: Workspace description
                  example: This is a workspace for invoice processing
                  maxLength: 200
                enterprise_id:
                  type: integer
                  format: int64
                  description: Enterprise organization ID
                  example: 12345
                auth_scope:
                  type: integer
                  description: >-
                    Collaboration scope 0: Visible only to self 1: Visible to
                    enterprise members
                  example: 1
                  enum:
                    - 0
                    - 1
              required:
                - name
                - enterprise_id
                - auth_scope
      responses:
        '200':
          description: Successfully created workspace
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          workspace_id:
                            type: string
                            description: Workspace ID
                            example: '1234567890'
  /api/app-api/sip/platform/v2/workspace/list:
    get:
      summary: Get Workspace List
      description: Get list of all workspaces for the current user
      operationId: listWorkspaces
      tags:
        - Workspace Management
      parameters:
        - name: enterprise_id
          in: query
          description: Enterprise ID
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: page_size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            default: 20
            example: 20
      responses:
        '200':
          description: Successfully retrieved workspace list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          total:
                            type: integer
                            description: Total number of workspaces
                            example: 100
                          page:
                            type: integer
                            description: Current page number
                            example: 1
                          page_size:
                            type: integer
                            description: Page size
                            example: 20
                          workspaces:
                            type: array
                            items:
                              $ref: '#/components/schemas/Workspace'
  /api/app-api/sip/platform/v2/workspace/get:
    get:
      summary: Get Workspace Details
      description: Get detailed information of a workspace by workspace ID
      operationId: getWorkspace
      tags:
        - Workspace Management
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
      responses:
        '200':
          description: Successfully retrieved workspace details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Workspace'
  /api/app-api/sip/platform/v2/workspace/update:
    post:
      summary: Update Workspace
      description: Update information of a specified workspace
      operationId: updateWorkspace
      tags:
        - Workspace Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                name:
                  type: string
                  description: Workspace name
                  example: My Workspace
                  maxLength: 50
                description:
                  type: string
                  description: Workspace description
                  example: This is a workspace for invoice processing
                  maxLength: 500
                auth_scope:
                  type: integer
                  description: >-
                    Collaboration scope 0: Visible only to self 1: Visible to
                    enterprise members
                  example: 1
                  enum:
                    - 0
                    - 1
                callback_url:
                  type: string
                  description: Callback URL
                  example: 'https://example.com/callback'
                callback_retry_time:
                  type: integer
                  description: Callback retry count
                  example: 3
                  minimum: 1
                  maximum: 3
              required:
                - workspace_id
                - name
                - auth_scope
      responses:
        '200':
          description: Successfully updated workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/workspace/delete:
    post:
      summary: Delete Workspace
      description: Delete specified workspace(s)
      operationId: deleteWorkspace
      tags:
        - Workspace Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_ids:
                  type: array
                  items:
                    type: string
                    description: Workspace ID
                    example: '1234567890'
                  description: List of workspace IDs to delete
              required:
                - workspace_ids
      responses:
        '200':
          description: Successfully deleted workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/create:
    post:
      summary: Create File Category
      description: >-
        Create a new file category in the specified workspace, requiring at
        least one sample file and at least one field configuration
      operationId: createCategory
      tags:
        - File Category
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                name:
                  type: string
                  description: File category name
                  example: Invoice
                  maxLength: 50
                category_prompt:
                  type: string
                  description: Prompt for classification
                  example: >-
                    VAT invoice, including fields such as invoice code, invoice
                    number, etc.
                  maxLength: 150
                extract_model:
                  type: string
                  description: >
                    Optional, extraction model, defaults to Model 1 if not
                    specified

                    - Model 1: Fast speed with stable extraction results

                    - Model 2: Suitable for complex document understanding

                    - Model 3: VLM, suitable for simple extraction
                  example: Model 1
                  enum:
                    - Model 1
                    - Model 2
                    - Model 3
                sample_files:
                  type: array
                  description: >-
                    Sample file list, at least one sample file must be uploaded,
                    a category can have at most 10 sample files
                  items:
                    type: string
                    format: binary
                  minItems: 1
                  maxItems: 10
                fields:
                  type: array
                  description: >-
                    Field configuration list, at least one field must be
                    configured
                  items:
                    allOf:
                      - $ref: '#/components/schemas/CategoryFieldConfig'
                  minItems: 1
              required:
                - workspace_id
                - name
                - extract_model
                - sample_files
                - fields
      responses:
        '200':
          description: Successfully created file category
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          category_id:
                            type: string
                            description: File category ID
                            example: '1234567890'
  /api/app-api/sip/platform/v2/category/list:
    get:
      summary: Get Workspace File Category List
      tags:
        - File Category
      description: Get workspace file category list
      operationId: listCategories
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: enabled
          in: query
          description: |
            Enabled status  
            - all: All
            - 1: Enabled
            - 0: Disabled
            - 2: Draft
          required: false
          schema:
            type: string
            default: '1'
            enum:
              - all
              - '1'
              - '0'
              - '2'
      responses:
        '200':
          description: Successfully retrieved workspace file category list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          total:
                            type: integer
                            description: Total number of file categories
                            example: 100
                          page:
                            type: integer
                            description: Current page number
                            example: 1
                          page_size:
                            type: integer
                            description: Page size
                            example: 20
                          categories:
                            type: array
                            items:
                              $ref: '#/components/schemas/Category'
  /api/app-api/sip/platform/v2/category/update:
    post:
      summary: Update File Category
      description: Update information of the specified file category
      operationId: updateCategory
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                name:
                  type: string
                  description: File category name
                  example: Invoice
                  maxLength: 50
                category_prompt:
                  type: string
                  description: Prompt for classification
                  example: >-
                    VAT invoice, including fields such as invoice code, invoice
                    number, etc.
                  maxLength: 150
                enabled:
                  $ref: '#/components/schemas/EnabledStatus'
                extract_model:
                  type: string
                  description: |
                    Extraction model
                    - Model 1: Fast speed with stable extraction results
                    - Model 2: Suitable for complex document understanding
                    - Model 3: VLM, suitable for simple extraction
                  example: Model 1
                  enum:
                    - Model 1
                    - Model 2
                    - Model 3
              required:
                - workspace_id
                - category_id
      responses:
        '200':
          description: Successfully updated file category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/delete:
    post:
      summary: Delete File Category
      description: Delete the specified file category
      operationId: deleteCategory
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_ids:
                  type: array
                  items:
                    type: string
                  description: List of file category IDs to delete
                  example:
                    - '1234567890'
                    - 0987654321
              required:
                - workspace_id
                - category_ids
      responses:
        '200':
          description: Successfully deleted file category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/tables/list:
    get:
      summary: Get File Category Tables List
      description: Get all tables configured under the specified file category
      operationId: listCategoryTables
      tags:
        - File Category
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: category_id
          in: query
          description: File category ID
          required: true
          schema:
            type: string
            example: '1234567890'
      responses:
        '200':
          description: Successfully retrieved file category tables list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          tables:
                            type: array
                            description: Tables list
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Table ID
                                  example: '1234567890'
                                name:
                                  type: string
                                  description: Table name
                                  example: Table 1
                                prompt:
                                  type: string
                                  description: Table semantic extraction prompt
                                  example: >-
                                    Extract name, quantity and amount for each
                                    row
                                collect_from_multi_table:
                                  type: boolean
                                  description: Merge multiple tables
                                  example: true
                                extract_model:
                                  type: string
                                  description: Table-level extraction model
                                  example: Model 1
  /api/app-api/sip/platform/v2/category/tables/add:
    post:
      summary: Add File Category Table
      description: Add a table to the specified file category
      operationId: addCategoryTable
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                name:
                  type: string
                  description: Table name
                  example: Table 1
                  maxLength: 50
                prompt:
                  type: string
                  description: Table semantic extraction prompt
                  example: 'Extract name, quantity and amount for each row'
                  maxLength: 200
                collect_from_multi_table:
                  type: boolean
                  description: Merge multiple tables
                  example: true
                extract_model:
                  type: string
                  description: |
                    Table-level extraction model
                    - Model 1: Fast speed with stable extraction results
                    - Model 2: Suitable for complex document understanding
                    - Model 3: VLM, suitable for simple extraction
                  example: Model 1
                  enum:
                    - Model 1
                    - Model 2
                    - Model 3
              required:
                - workspace_id
                - category_id
                - name
      responses:
        '200':
          description: Successfully added file category table
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          table_id:
                            type: string
                            description: Newly added table ID
                            example: '1234567890'
  /api/app-api/sip/platform/v2/category/tables/update:
    post:
      summary: Update File Category Table
      description: Update information of the specified file category table
      operationId: updateCategoryTable
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                table_id:
                  type: string
                  description: Table ID
                  example: '1234567890'
                name:
                  type: string
                  description: Table name
                  example: Table 1
                  maxLength: 50
                prompt:
                  type: string
                  description: Table semantic extraction prompt
                  example: 'Extract name, quantity and amount for each row'
                  maxLength: 200
                collect_from_multi_table:
                  type: boolean
                  description: Merge multiple tables
                  example: true
                extract_model:
                  type: string
                  description: |
                    Table-level extraction model
                    - Model 1: Fast speed with stable extraction results
                    - Model 2: Suitable for complex document understanding
                    - Model 3: VLM, suitable for simple extraction
                  example: Model 1
                  enum:
                    - Model 1
                    - Model 2
                    - Model 3
              required:
                - workspace_id
                - category_id
                - table_id
                - collect_from_multi_table
      responses:
        '200':
          description: Successfully updated file category table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/tables/delete:
    post:
      summary: Delete File Category Tables
      description: 'Delete the specified file category tables, supporting batch deletion'
      operationId: deleteCategoryTables
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                table_ids:
                  type: array
                  description: List of table IDs to delete
                  items:
                    type: string
                  example:
                    - '1234567890'
                    - 0987654321
              required:
                - workspace_id
                - category_id
                - table_ids
      responses:
        '200':
          description: Successfully deleted file category tables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/fields/list:
    get:
      summary: Get File Category Fields List
      description: Get file category fields list
      operationId: listCategoryFields
      tags:
        - File Category
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: category_id
          in: query
          description: File category ID
          required: true
          schema:
            type: string
            example: '1234567890'
      responses:
        '200':
          description: Successfully retrieved file category fields list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          fields:
                            type: array
                            items:
                              $ref: '#/components/schemas/CategoryField'
                          tables:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Table ID
                                  example: '1234567890'
                                name:
                                  type: string
                                  description: Table name
                                  example: Table1
                                description:
                                  type: string
                                  description: Table description
                                  example: Table description
                                fields:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/CategoryField'
  /api/app-api/sip/platform/v2/category/fields/add:
    post:
      summary: Add File Category Field
      description: >-
        Add a field to the specified file category, supporting both regular
        fields and table fields
      operationId: addCategoryField
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CategoryFieldConfig'
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                table_id:
                  type: string
                  description: >
                    Table ID

                    - Not provided or empty: Create a regular field, result will
                    appear in result.fields

                    - Provided table ID: Create a table field under the
                    corresponding table, result will appear in
                    result.tables[].fields
                  example: '1234567890'
                extract_model:
                  type: string
                  description: >
                    Optional, field-level extraction model, only supported for
                    regular fields (not table fields), defaults to Model 1 if
                    not specified

                    - Model 1: Fast speed with stable extraction results

                    - Model 2: Suitable for complex document understanding

                    - Model 3: VLM, suitable for simple extraction
                  example: Model 1
                  enum:
                    - Model 1
                    - Model 2
                    - Model 3
              required:
                - workspace_id
                - category_id
                - name
      responses:
        '200':
          description: Successfully added file category field
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          field_id:
                            type: string
                            description: Newly created field ID
                            example: '1234567890'
  /api/app-api/sip/platform/v2/category/fields/update:
    post:
      summary: Update File Category Field
      description: >-
        Update information of the specified file category field, supporting both
        regular fields and table fields
      operationId: updateCategoryField
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CategoryFieldConfig'
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                field_id:
                  type: string
                  description: Field ID
                  example: '1234567890'
                table_id:
                  type: string
                  description: >
                    Table ID

                    - Not required for regular fields

                    - Required for table fields, need to provide the table ID it
                    belongs to
                  example: '1234567890'
                extract_model:
                  type: string
                  description: |
                    Field-level extraction model
                    - Model 1: Fast speed with stable extraction results
                    - Model 2: Suitable for complex document understanding
                    - Model 3: VLM, suitable for simple extraction
                  example: Model 1
                  enum:
                    - Model 1
                    - Model 2
                    - Model 3
              required:
                - workspace_id
                - category_id
                - field_id
      responses:
        '200':
          description: Successfully updated file category field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/fields/delete:
    post:
      summary: Delete File Category Fields
      description: >-
        Delete the specified file category fields, supporting batch deletion of
        both regular fields and table fields
      operationId: deleteCategoryFields
      tags:
        - File Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                field_ids:
                  type: array
                  description: List of field IDs to delete
                  items:
                    type: string
                  example:
                    - '1234567890'
                    - 0987654321
                table_id:
                  type: string
                  description: >
                    Table ID

                    - Not provided: Delete regular fields (fields in
                    result.fields)

                    - Provided table ID: Delete table fields under the
                    corresponding table (fields in result.tables[].fields)
                  example: '1234567890'
              required:
                - workspace_id
                - category_id
                - field_ids
      responses:
        '200':
          description: Successfully deleted file category fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/category/sample/upload:
    post:
      summary: Upload Category Sample
      description: Upload a sample file for the specified file category
      operationId: uploadCategorySample
      tags:
        - File Category Samples
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                file:
                  type: string
                  format: binary
                  description: Sample file
              required:
                - workspace_id
                - category_id
                - file
      responses:
        '200':
          description: Successfully uploaded category sample
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          sample_id:
                            type: string
                            description: Sample ID
                            example: '1234567890'
  /api/app-api/sip/platform/v2/category/sample/list:
    get:
      summary: Get Category Samples List
      description: Get the list of samples for the specified file category
      operationId: listCategorySamples
      tags:
        - File Category Samples
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: category_id
          in: query
          description: File category ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successfully retrieved category samples list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          total:
                            type: integer
                            description: Total number of samples
                            example: 10
                          page:
                            type: integer
                            description: Current page number
                            example: 1
                          page_size:
                            type: integer
                            description: Page size
                            example: 20
                          samples:
                            type: array
                            items:
                              $ref: '#/components/schemas/CategorySample'
  /api/app-api/sip/platform/v2/category/sample/download:
    get:
      summary: Download Category Sample
      description: Download the specified category sample file
      operationId: downloadCategorySample
      tags:
        - File Category Samples
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: category_id
          in: query
          description: File category ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: sample_id
          in: query
          description: Sample ID
          required: true
          schema:
            type: string
            example: '1234567890'
      responses:
        '200':
          description: Successfully downloaded sample file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/app-api/sip/platform/v2/category/sample/delete:
    post:
      summary: Delete Category Samples
      description: Delete the specified category samples
      operationId: deleteCategorySample
      tags:
        - File Category Samples
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                category_id:
                  type: string
                  description: File category ID
                  example: '1234567890'
                sample_ids:
                  type: array
                  items:
                    type: string
                  description: List of sample IDs to delete
                  example:
                    - '1234567890'
                    - 0987654321
              required:
                - workspace_id
                - category_id
                - sample_ids
      responses:
        '200':
          description: Successfully deleted category samples
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule_repo/create:
    post:
      summary: Create Review Rule Repository
      description: Create review rule repository
      operationId: createReviewRuleRepo
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                name:
                  type: string
                  description: Repository name
                  example: Review Rule Repository 1
                  maxLength: 30
              required:
                - workspace_id
                - name
      responses:
        '200':
          description: Successfully created review rule repository
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          repo_id:
                            type: integer
                            description: Review rule repository ID
                            example: '31415926'
  /api/app-api/sip/platform/v2/review/rule_repo/delete:
    post:
      summary: Delete Review Rule Repository
      description: Delete review rule repository
      operationId: deleteReviewRuleRepo
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                repo_ids:
                  type: array
                  items:
                    type: integer
                    description: Review rule repository ID
                    example: '31415926'
              required:
                - workspace_id
                - repo_ids
      responses:
        '200':
          description: Successfully deleted review rule repository
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule_repo/update:
    post:
      summary: Update Review Rule Repository
      description: Update review rule repository
      operationId: updateReviewRuleRepo
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                repo_id:
                  type: integer
                  description: Review rule repository ID
                  example: '31415926'
                name:
                  type: string
                  description: Repository name
                  example: Review Rule Repository 1
                  maxLength: 30
              required:
                - workspace_id
                - repo_id
      responses:
        '200':
          description: Successfully updated review rule repository
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule_repo/list:
    get:
      summary: Get Review Rule Repository List
      description: >-
        Get review rule repository list, including rule groups and rules
        information under the repository
      operationId: listReviewRuleRepo
      tags:
        - Intelligent Review
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            example: 1
            default: 1
        - name: page_size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            example: 10
            default: 10
      responses:
        '200':
          description: Successfully retrieved review rule repository list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          repos:
                            type: array
                            items:
                              $ref: '#/components/schemas/ReviewRuleRepo'
                          total:
                            type: integer
                            description: Total count
                            example: 100
                          page:
                            type: integer
                            description: Page number
                            example: 1
                          page_size:
                            type: integer
                            description: Page size
                            example: 10
  /api/app-api/sip/platform/v2/review/rule_repo/get:
    get:
      summary: Get Review Rule Repository
      description: Get review rule repository
      operationId: getReviewRuleRepo
      tags:
        - Intelligent Review
      parameters:
        - name: workspace_id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: repo_id
          in: query
          description: Review rule repository ID
          required: true
          schema:
            type: string
            example: '31415926'
      responses:
        '200':
          description: Successfully retrieved review rule repository
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ReviewRuleRepo'
  /api/app-api/sip/platform/v2/review/rule_group/create:
    post:
      summary: Create Review Rule Group
      description: Create review rule group
      operationId: createReviewRuleGroup
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                repo_id:
                  type: integer
                  description: Review rule repository ID
                  example: '31415926'
                name:
                  type: string
                  description: Group name
                  example: Review Rule Group 1
                  maxLength: 30
              required:
                - workspace_id
                - repo_id
                - name
      responses:
        '200':
          description: Successfully created review rule group
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          group_id:
                            type: string
                            description: Review rule group ID
                            example: '31415926'
  /api/app-api/sip/platform/v2/review/rule_group/delete:
    post:
      summary: Delete Review Rule Group
      description: Delete review rule group
      operationId: deleteReviewRuleGroup
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                group_id:
                  type: string
                  description: Review rule group ID
                  example: '31415926'
              required:
                - workspace_id
                - group_id
      responses:
        '200':
          description: Successfully deleted review rule group
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule_group/update:
    post:
      summary: Update Review Rule Group
      description: Update review rule group
      operationId: updateReviewRuleGroup
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                group_id:
                  type: string
                  description: Review rule group ID
                  example: '31415926'
                name:
                  type: string
                  description: Group name
                  example: Review Rule Group 1
                  maxLength: 30
              required:
                - workspace_id
                - group_id
      responses:
        '200':
          description: Successfully updated review rule group
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule/create:
    post:
      summary: Create Review Rule
      description: Create review rule
      operationId: createReviewRule
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ReviewRuleProperties'
                - type: object
                  properties:
                    workspace_id:
                      type: string
                      description: Workspace ID
                      example: '1234567890'
                    repo_id:
                      type: integer
                      description: Review rule repository ID
                      example: '31415926'
                  required:
                    - workspace_id
                    - repo_id
      responses:
        '200':
          description: Successfully created review rule
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          rule_id:
                            type: string
                            description: Review rule ID
                            example: '31415926'
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule/update:
    post:
      summary: Update Review Rule
      description: Update review rule
      operationId: updateReviewRule
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    workspace_id:
                      type: string
                      description: Workspace ID
                      example: '1234567890'
                    rule_id:
                      type: string
                      description: Review rule ID
                      example: '31415926'
                - $ref: '#/components/schemas/ReviewRuleProperties'
      responses:
        '200':
          description: Successfully updated review rule
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/rule/delete:
    post:
      summary: Delete Review Rule
      description: Delete review rule
      operationId: deleteReviewRule
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                rule_id:
                  type: string
                  description: Review rule ID
                  example: '31415926'
              required:
                - workspace_id
                - rule_id
      responses:
        '200':
          description: Successfully deleted review rule
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/task/submit:
    post:
      summary: Submit Review Task
      description: Submit review task
      operationId: submitReviewTask
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                name:
                  type: string
                  description: Task name
                  example: Review Task 1
                  maxLength: 100
                repo_id:
                  type: string
                  description: Review rule repository ID
                  example: '31415926'
                extract_task_ids:
                  type: array
                  items:
                    type: string
                    description: Extraction task ID
                    example: '1234567890'
                batch_number:
                  type: string
                  description: Batch number
                  example: '1234567890'
              required:
                - workspace_id
                - name
                - repo_id
      responses:
        '200':
          description: Successfully submitted review task
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          task_id:
                            type: string
                            description: Review task ID
                            example: '31415926'
  /api/app-api/sip/platform/v2/review/task/delete:
    post:
      summary: Delete Review Task
      description: Delete review task
      operationId: deleteReviewTask
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                task_ids:
                  type: array
                  items:
                    type: string
                    description: Review task ID
                    example: '31415926'
              required:
                - workspace_id
                - task_ids
      responses:
        '200':
          description: Successfully deleted review task
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/task/result:
    post:
      summary: Get Review Task Result
      description: Get review task result
      operationId: getReviewTaskResult
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                task_id:
                  type: string
                  description: Review task ID
                  example: '31415926'
                with_task_detail_url:
                  type: boolean
                  description: Whether to return the review task detail URL
                  example: false
              required:
                - workspace_id
                - task_id
      responses:
        '200':
          description: Successfully retrieved review task result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          task_id:
                            type: string
                            description: Review task ID
                            example: '31415926'
                          task_name:
                            type: string
                            description: Task name
                            example: Review Task 1
                          task_detail_url:
                            type: string
                            description: Review task detail URL
                          status:
                            $ref: '#/components/schemas/ReviewTaskStatus'
                          rule_repo:
                            type: object
                            properties:
                              repo_id:
                                type: string
                                description: Review rule repository ID
                                example: '31415926'
                              name:
                                type: string
                                description: Review rule repository name
                                example: Review Rule Repository 1
                          extract_task_ids:
                            type: array
                            items:
                              type: string
                              description: Extraction task ID
                              example: '1234567890'
                          statistics:
                            type: object
                            properties:
                              pass_count:
                                type: integer
                                description: Pass count
                                example: 100
                              failure_count:
                                type: integer
                                description: Failure count
                                example: 100
                              error_count:
                                type: integer
                                description: Task execution error count
                                example: 100
                          groups:
                            type: array
                            items:
                              type: object
                              properties:
                                group_id:
                                  type: string
                                  description: Review rule group ID
                                  example: '31415926'
                                group_name:
                                  type: string
                                  description: Review rule group name
                                  example: Review Rule Group 1
                                review_tasks:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      rule_task_id:
                                        type: string
                                        description: Review subtask ID
                                        example: '31415926'
                                      rule_id:
                                        type: string
                                        description: Review rule ID
                                        example: '31415926'
                                      rule_name:
                                        type: string
                                        description: Review rule name
                                        example: Review Rule 1
                                      risk_level:
                                        $ref: '#/components/schemas/RiskLevel'
                                      prompt:
                                        type: string
                                        description: Review rule prompt
                                        example: Review rule prompt
                                      review_result:
                                        $ref: '#/components/schemas/ReviewTaskStatus'
                                      reasoning:
                                        type: string
                                        description: Review reasoning
                                        example: Review reasoning
                                      anchors:
                                        type: array
                                        description: >-
                                          Position anchor information for review
                                          reasoning, used to locate the position
                                          of review reasoning in the original text
                                        items:
                                          type: object
                                          properties:
                                            start_pos:
                                              type: integer
                                              description: >-
                                                Starting character position in
                                                `reasoning`
                                            end_pos:
                                              type: integer
                                              description: Ending character position in `reasoning`
                                            text:
                                              type: string
                                              description: Original text content
                                            vertices:
                                              type: array
                                              items:
                                                type: integer
                                                description: >-
                                                  Bounding quadrilateral coordinates of
                                                  original text
                                                example:
                                                  - 0
                                                  - 0
                                                  - 100
                                                  - 0
                                                  - 100
                                                  - 100
                                                  - 0
                                                  - 100
                                            file_id:
                                              type: string
                                              description: File ID
                                              example: '1234567890'
                                            extract_task_id:
                                              type: string
                                              description: Extraction task ID
                                              example: '1234567890'
                                            page:
                                              type: integer
                                              description: Page number in the file
                                              example: 1
                                            source:
                                              type: string
                                              description: |
                                                Position anchor source
                                                - "ocr": Recognition
                                                - "extract_field": Associated field
                                              example: ocr
                                              enum:
                                                - ocr
                                                - extract_field
                                            file_category:
                                              type: string
                                              description: File category
                                              example: Invoice
                                            field_name:
                                              type: string
                                              description: Associated field name
                                              example: Invoice Code
                                      audit_result:
                                        type: integer
                                        description: |
                                          Manual review result
                                          - 0: Manual review failed
                                          - 1: Manual review passed
                                        example: 1
                                        enum:
                                          - 0
                                          - 1
                                      audit_message:
                                        type: string
                                        description: Manual review comments
                                        example: Manual review comments
  /api/app-api/sip/platform/v2/review/task/retry:
    post:
      summary: Retry Review Task
      description: Retry review task
      operationId: retryReviewTask
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                task_id:
                  type: string
                  description: Review task ID
                  example: '31415926'
              required:
                - workspace_id
                - task_id
      responses:
        '200':
          description: Successfully retried review task
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
  /api/app-api/sip/platform/v2/review/task/rule/retry:
    post:
      summary: Retry Specific Rule in Review Task
      description: Retry a specific rule in the review task.
      operationId: retryReviewTaskRule
      tags:
        - Intelligent Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: Workspace ID
                  example: '1234567890'
                task_id:
                  type: string
                  description: Review task ID
                  example: '31415926'
                rule_id:
                  type: string
                  description: Review rule ID
                  example: '31415926'
              required:
                - workspace_id
                - task_id
                - rule_id
      responses:
        '200':
          description: Successfully retried specific rule in review task
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CodeMessage'
components:
  parameters:
    WorkspaceId:
      name: workspace_id
      in: query
      description: Workspace ID
      required: true
      schema:
        type: string
        example: 1234567890
    Category:
      name: category
      in: query
      description: File Category
      required: false
      schema:
        type: string
        example: invoice
    BatchNumber:
      name: batch_number
      in: query
      description: >
        Batch Number.            You can upload multiple times with the same
        batch number, and later retrieve processing results for multiple files
        in that batch using the batch number.            If the value is empty,
        the system automatically generates a string up to 20 characters long.
      required: false
      schema:
        type: string
        example: 202412190001
    AutoVerifyVat:
      name: auto_verify_vat
      in: query
      description: Whether to automatically verify VAT invoice
      required: false
      schema:
        type: boolean
        default: false
    SplitFlag:
      name: split_flag
      in: query
      description: Whether to perform file splitting
      required: false
      schema:
        type: boolean
        default: false
    CropFlag:
      name: crop_flag
      in: query
      description: Whether to perform multi-image cropping
      required: false
      schema:
        type: boolean
        default: false
    TargetProcess:
      name: target_process
      in: query
      description: >
        Target processing type.            Optional values:            -
        classify: Classification            - extract: Extraction
      required: false
      schema:
        type: string
        enum:
          - classify
          - extract
        example: classify
    ParserRemoveWatermark:
      name: parser_remove_watermark
      in: query
      description: 'Remove watermark (0 no, 1 yes)'
      required: false
      schema:
        type: integer
        default: 0
    ParserCropDewarp:
      name: parser_crop_dewarp
      in: query
      description: 'Crop and dewarp (0 no, 1 yes)'
      required: false
      schema:
        type: integer
        default: 0
    ParserApplyMerge:
      name: parser_apply_merge
      in: query
      description: 'Merge cross-page paragraphs and tables (0 no, 1 yes)'
      required: false
      schema:
        type: integer
        default: 1
    ParserFormulaLevel:
      name: parser_formula_level
      in: query
      description: >-
        Formula recognition level (0 recognizes both display and inline
        formulas, 1 recognizes display formulas only, 2 recognizes no formulas)
      required: false
      schema:
        type: integer
        default: 0
    ParserTableTextSplitMode:
      name: parser_table_text_split_mode
      in: query
      description: 'Split text blocks crossed by table lines (0 no, 1 yes)'
      required: false
      schema:
        type: integer
        default: 0
    WithTaskDetailUrl:
      name: with_task_detail_url
      in: query
      description: Whether to return the task details page URL
      required: false
      schema:
        type: boolean
        default: false
  requestBodies:
    FileUploadRequestBody:
      description: File upload request body
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
        application/json:
          schema:
            type: object
            properties:
              urls:
                description: |
                  File URL list
                  Supports up to 10 file URLs per upload, each file maximum 50MB
                type: array
                items:
                  type: string
                  description: File URL
                  example: 'https://example.com/file.pdf'
                  pattern: '^https?://.*$'
                maxItems: 10
            required:
              - urls
  securitySchemes:
    ApiId:
      type: apiKey
      in: header
      name: x-ti-app-id
    SecretCode:
      type: apiKey
      in: header
      name: x-ti-secret-code
  schemas:
    CodeMessage:
      type: object
      properties:
        code:
          type: integer
          description: Status code
          example: 200
        msg:
          type: string
          description: Status description
      required:
        - code
        - msg
    TaskType:
      type: integer
      description: >
        Task type

        - 0: **File split subtask**: When a file task with "File split" switch
        enabled executes successfully, the subtasks generated by file split
        operations in that file batch task are split subtasks, divided according
        to the actual number of file sets under the file category

        - 1: **Regular task**: File tasks without "File split" and "Multi-image
        crop" switches enabled

        - 2: **Parent task**: After file tasks with "File split" or "Multi-image
        crop" switches enabled execute, each file in that file batch task
        becomes a parent task

        - 3: **Crop subtask**: When a file task with "Multi-image crop" switch
        enabled executes successfully, the subtasks generated by multi-image
        crop operations in that file batch task are crop subtasks, divided
        according to the actual number of crop results under the file category
      example: 1
    RecognitionStatus:
      type: integer
      description: >
        File recognition status: 

        - 0: Pending recognition

        - 1: Recognition successful

        - 2: Recognition failed

        - 3: Classifying

        - 4: Extracting

        - 5: Preparing

        - 6: File splitting

        - 7: Image cropping

        - 10: Classification completed (only available when upload interface
        target_process is classify)

        - 20: Parsing
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 10
        - 20
    VerificationStatus:
      type: integer
      description: >-
        File verification status 0: Pending verification 2: Confirmed 3:
        Rejected 4: Deleted 5: Deferred processing
      enum:
        - 0
        - 2
        - 3
        - 4
        - 5
    PagesInfo:
      type: array
      description: >
        Data for rendering each page of the file.            Combined with the
        page and position fields in data.fields, you can accurately draw the
        position of fields on the page.
      items:
        type: object
        properties:
          page:
            type: integer
            description: 'Page number, starting from 0'
            example: 1
          angle:
            type: integer
            description: Rotation angle
            enum:
[...]
